// sans serif regular
@font-face {
    font-family: "Computer Modern";
    src: 
        url('fonts/ttf/cmunss-webfont.ttf') format("truetype");
}

// sans serif bold
@font-face {
    font-family: "Computer Modern";
    src: 
        url('fonts/ttf/cmunsx-webfont.ttf') format("truetype");
        font-weight: bold;
}

// sans serif bold italic
@font-face {
    font-family: "Computer Modern";
    src:
        url('fonts/ttf/cmunbxo-webfont.ttf') format("truetype");
        font-weight: bold;
        font-style: italic;
        
}

// sans serif italic
@font-face {
    font-family: "Computer Modern";
    src: 
        url('fonts/ttf/cmunsi-webfont.ttf') format("truetype");
        font-style: italic;
}