// Custom theme - could do yellow on borders? - links on inside pages?

// Color variables
$black: #181818;
$white: #fff;
$gray: #777;
$yellow: #fec92e;


// Config
$color-background: $white !default;
$color-accent: $yellow !default;
$color-border: $black !default;
$color-body-text: $black !default;
$color-text-accent: $gray !default;


// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities",
        "fonts"
;
