.breadcrumb-nav {
  font-size: 14px;
  margin-top: $sp-6;
  margin-bottom: $sp-2;
  display: flex;
  justify-content: center;
}

.breadcrumb-nav-item {
  padding-left: $sp-1;
  padding-right: $sp-1;
}
