<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>Angelica Pan</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
    {% assign user_url = site.url | append: site.baseurl %}
    {% assign full_base_url = user_url | default: site.github.url %}
    <link rel="stylesheet" href="{{ baseurl }}/assets/style.css">
  
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  

{% include header.html %}
        
<body class="header-background">
      <div class="container mx-auto px-2 mb-2 clearfix header-text">
        <h1 class="h0 inline-block col-10 sm-width-full py-3 mt-3 header-title">{{ site.title }}</h1>

        <div class="clearfix mb-4 py-1">
          <div class="col-12 sm-width-full left border py-3"></div>

          <div class="col-12 centering-container">
            <div class="col-11 prose">
              <p><img src="/assets/images/profile.png" alt="Angelica Pan profile" style="float:right; width:150px; height:150px;">
                {{ site.description}}
              </p>
          
              <h3>Contact me</h3>

              <p><a href = "mailto: angelica.s.pan@gmail.com">angelica.s.pan@gmail.com</a></p>
            </div>
          </div>

        </div>
      </div>
</body>

</html>
