---
layout: default
---
<div class="container">
  <!-- begin post -->
  <article class="post">
    <div class="post__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
      <a href="{{ site.baseurl }}/portfolio/" class="post__breadcrumb">Portfolio</a>
      <h1 class="post__title">{{ page.title | escape }}</h1>
      <p class="post__blurb">{{ page.description }}</p>
      <div class="post__about">
        <p>
          <time datetime="{{ page.start_date | date_to_xmlschema }}">{{ page.start_date | date: '%B %Y'}}</time> - {{ page.end_date }}
        <br>
        <p>Tools: {{ page.tools }}</p>
        <p>Industry: {{ page.industry }}</p>
        {% if page.blurb %}
        <div class="author__more">
          <a href="{{ page.link}}" class="see-more" target="_blank">{{ page.blurb }}</a>
        </div>
        {% endif%}
      </div>
    </div>

    <div class="post__content" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
      {{ content }}
    </div>

    <div class="post__navigation">
    {% assign previous = page.order | plus: 1 %}
    {% assign next = page.order | minus: 1 %}
    {% assign sorted = site.portfolio | sort: "order" %}
    {% for item in sorted %}
      {% if item.order == previous %}
        <a class="prev" href="{{ site.baseurl }}{{ item.url }}">
          <div class="prev__post-icon">
            <svg enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m352 128.4-32.3-32.4-159.7 160 159.7 160 32.3-32.4-127.3-127.6z"/></svg>
          </div>
          <span class="post__nav-wrapper">
            <h2 class="post__nav-title">
              PREVIOUS: {{item.title}}
            </h2>
          </span>
        </a>
      {% endif %}
      {% if item.order == next %}
        <a class="next" href="{{ site.baseurl }}{{ item.url }}">
          <div class="next__post-icon">
            <svg enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m160 128.4 32.3-32.4 159.7 160-159.7 160-32.3-32.4 127.3-127.6z"/></svg>
          </div>
          <span class="post__nav-wrapper">
            <h2 class="post__nav-title">
              NEXT: {{item.title}}
            </h2>
          </span>
        </a>
      {% endif %}
    {% endfor %}
    </div>

  </article>
  <!-- end post -->
</div>
