---
layout: default
---

<article class="container mx-auto px-2 mt-2 mb-4" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="h0 py-3 mt-3">{{ page.title }}</h1>
  </header>

  <div class="clearfix mb-4 py-1">
    <div class="col-12 sm-width-full left border py-3"></div>
      <div class="col-12 centering-container">
        <div class="col-11 prose">
          {{ content}}

          <i><a href='/portfolio'>Back</a></i>

        <div class="mt-2 centering-container prose">
          <a target="_blank" href="{{ page.related_file}}" class = "project-button">
            Click to open file in a new tab
          </a>
        </div>
        
        <br>
        
        {% if page.related_file_type == "html" %}
        <div class="html-container">
        {% else %}
        <div class="pdf-container">
        {% endif %}
          <iframe class="preview" src="{{ page.related_file }}">
            <p> 
            <a href="{{ page.related_file }}">
            Fallback link for browsers that don't support iframes
            </a>
            </p>  
          </iframe>
        </div>
      </div>
  </div>
</article>


